<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact List</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/add-contact">Add a Contact</a>
</div>

    <h1>contact list</h1>
    <% for(let i = 0; i < contacts.length; i++) {%>
        <div>
           
            
            <p class="<%= contacts[i]._id %>"><%= contacts[i].name %></p>
            <p><%= contacts[i].phoneNumber %></p>
            <p><%= contacts[i].email %></p>
            <button class="favoriteIcon"  >Favorite</button>
            <button class="unFavoriteIcon" >Unfavorite</button>
            <form action="/editPage" method="GET">
                <button type="submit" name="contactName" value="<%= contacts[i].name %>">Edit</button>
            </form>
            <% if(contacts[i].favorite == true) {%>
                <span>⭐</span>
            <%}%>
        </div>
     <% } %>
     
     <script src="js/main.js"></script>
</body>
</html>

<!-- add like contacts and remove then add edit feature -->